    <!--Contains Filter-->

    
    
    <div *ngFor="let dataSearch of dataSearchs">
    <div class="col-xs-3" *ngIf="dataSearch.type=='contains'">
      
       
        <span *ngIf="dataSearch.type=='contains'">
          <!-- <mat-form-field style ="margin-bottom:10px;appearance: fill;background-color:#fff;
          height:35px;width: 100%;font-size:13px">
          <mat-label>{{dataSearch.label}}</mat-label>
          
          <input  [(ngModel)]="dataSearch.value"  (keyup)="valueSearchChange($event)"
        matInput >
        <button style="background-color:#fff;border:none" *ngIf="dataSearch.value" matSuffix (click)="dataSearch.value=''" (click)="valueSearchChange($event)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> 
      <mat-label>{{dataSearch.label}}</mat-label> -->
      <div class="dx-field">
     
          <dx-text-box style="width:100%;height:30px" placeholder="{{dataSearch.label}}" [(ngModel)]="dataSearch.value"  valueChangeEvent="keyup" (onValueChanged)="valueSearchChange($event)" [showClearButton]="true"></dx-text-box>
        
      </div>
    </span>
    </div>
        </div>



        <!-- = Filter-->

<div *ngFor="let dataSearch of dataSearchs" >
    
  <div class="col-xs-4" *ngIf="dataSearch.type=='='">
    <span *ngIf="dataSearch.type=='='">
      <mat-label>{{dataSearch.label}}</mat-label>
      <select style="appearance: none;margin-bottom:10px" [(ngModel)]="dataSearch.value" (change)="valueSearchChange($event)" class="form-control">
  <option value ="" selected="selected" hidden="hidden">(All)</option>
  <option *ngFor="let sData of dataSearch.valueSelect" [ngValue]="sData.Id">
  {{ sData.Name }}
</option>
</select>


      </span>
</div>
    

</div>





<!--Date Filter-->
<div *ngFor="let dataSearch of dataSearchs">

  <div class="col-xs-4"  *ngIf="dataSearch.type == '<=' || dataSearch.type == '>='">
  

  <div class="dx-field">
  
    <div class="dx-field-value" style="width:200px;margin-right: 322px;">
      
      <dx-date-box  style="height:30px" placeholder="{{dataSearch.label}}" [(ngModel)]="dataSearch.value" [showClearButton]="true" (onValueChanged)="valueSearchChange($event)">        
        <dxi-button
        name="type"
        location="before"
        [options]="typeButton"
       
      ></dxi-button>
      <dxi-button name="dropDown"></dxi-button></dx-date-box>
    </div>
  </div>
  
  
</div>
</div>

