<div class="row">
    <nav>
        <ul class="ul1" >
            
          <li style="float:left"><h2>Terminal Info</h2></li>
          
         
        </ul></nav>  
    <div class="column">
      
<div id="search" class="collapse" style="transition: all linear 0.5s">
          <filter-component 
          [dataSearchs]="this.dataSearchs"
        
     (valueSearchChanges)="filter()"
    
      ></filter-component>
    </div>
      


    <buttongroup-component
    [hasAdd]="hasAdd"
    [hasFilter]="hasFilter"
    (Add)="Add()"
    (Refresh)="Refresh()"
    ></buttongroup-component>
  <dx-data-grid 
 
            #grid 
            id="gridListCollectionLog"
            [dataSource]="terminals"
            keyExpr="Id"
            (onRowRemoved)="deleteTerminal($event)"
            [showBorders]="true"
            [columnAutoWidth]="true"
            style="width:100%"
            [showColumnLines]="true"
            [rowAlternationEnabled]="true"

            >
            
            <dxo-editing  
            [allowDeleting]="true"
            [useIcons]="true">
            
        </dxo-editing>
            <dxi-column type="buttons"  [width]="100">
              <dxi-button name="edit" [visible]="true"  [onClick]="editProcess" ></dxi-button>
              <dxi-button name="delete"></dxi-button>
          </dxi-column>
            
          <dxi-column alignment="left" [width]="200" dataField ="TerminalId" caption = "Terminal Id">
            
          </dxi-column>
          <dxi-column alignment="left" [width]="150" dataField ="EzyCode" caption = "EzyCode">
            
          </dxi-column>
          <dxi-column alignment="left" [width]="200" dataField ="Name" caption = "Name">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="200"  dataField ="Description" caption = "Description">
</dxi-column>
<dxi-column alignment="left" [width]="150"  dataField ="IsOnline" caption = "Online Status">
  <dxo-lookup [dataSource]="onlineStatus" displayExpr="Name" valueExpr="ID"></dxo-lookup>
</dxi-column>
<dxi-column alignment="left" [width]="100"  dataField ="Type" caption = "Type">
    <dxo-lookup [dataSource]="typeTerminal" displayExpr="Name" valueExpr="Id"></dxo-lookup>
  
  </dxi-column>
<dxi-column alignment="left" [width]="100"  dataField ="Status" caption = "Status" >
  <dxo-lookup [dataSource]="statusData" displayExpr="Name" valueExpr="Id"></dxo-lookup>

</dxi-column>

            
      
        
            </dx-data-grid>
            <paging-component
  [current]="current"
  [total]="total"
  [perPage]="perPage"
  (goTo)="onGoTo($event)"
  
  (switchs)="switch($event)"
></paging-component>
</div>
          </div>
          
          <!-- <a (click)="changeFromParent()">Change from parent</a>
          <br/>
          <app-child [parentData]=data></app-child> -->
        

        <dx-popup
        [dragEnabled]="true"
    [width]="'auto'"
    [height]="'auto'"

    [showTitle]="true"
    title="Terminal Info"
    [(visible)]="popupTerminalVisible"
    
    >
  

    
        <form>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Terminal Name<span style="height:10px;color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value">
                        <dx-text-box style="height:30px"
                            [(value)]="currentTerminal.Name"
                            >
                        </dx-text-box>
                    </div>
                </div>    
            </div>   
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">EzyCode<span style="color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value">
                        <dx-text-box style="height:30px"
                            [(value)]="currentTerminal.EzyCode"
                            >
                        </dx-text-box>
                    </div>
                </div>    
            </div>     
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Description</div>
                    <div class="dx-field-value">
                        <dx-text-box style="height:30px"
                            [(value)]="currentTerminal.Description">
                        </dx-text-box>
                    </div>
                </div>              
            </div>
            <div class="dx-fieldset" *ngIf="isUpdate">
                <div class="dx-field" >
                    <div class="dx-field-label">Status<span style="color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value">
                        <dx-select-box [dataSource]="statusData" style="height:30px"
                            valueExpr="Id"
                            displayExpr="Name"
                            [(value)]="currentTerminal.Status"
                            [searchEnabled]="true"
                        ></dx-select-box>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Show Type<span style="color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value">
                        <dx-select-box [dataSource]="typeShow" style="height:30px"
                            valueExpr="Id"
                            displayExpr="Name"
                            [(value)]="currentTerminal.IsShowFullDiagram"
                            [searchEnabled]="true"
                        ></dx-select-box>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Type<span style="color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value">
                        <dx-select-box [dataSource]="typeTerminal" style="height:30px"
                            valueExpr="Id"
                            displayExpr="Name"
                            [(value)]="currentTerminal.Type"
                            [searchEnabled]="true"
                        ></dx-select-box>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Temperature Range<span style="color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value" style="display: flex;justify-content: space-between;width: 50%;float: left;align-items: center;">
                        <div style="width: 40%;display: flex;justify-content: space-between;align-items: center;">
                            <dx-number-box
                                style="width: 80%;"
                                [(value)]="currentTerminal.TemperatureRangeFrom"
                                [min]="min1"
                                [max]="max1"
                                [showSpinButtons]="true"
                            ></dx-number-box>&#176;C
                        </div><b>-</b>
                        <div style="width: 40%;display: flex;justify-content: space-between;align-items: center;">
                            <dx-number-box
                                style="width: 80%;"
                                [(value)]="currentTerminal.TemperatureRangeTo"
                                [min]="currentTerminal.TemperatureRangeFrom || min2"
                                [min] = "0"
                                [max]="max2"
                                [showSpinButtons]="true"
                            ></dx-number-box>&#176;C
                        </div>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Polyclinic<span style="color:red;font-size:15px;">  *</span></div>
                    <div class="dx-field-value">
                        <dx-select-box [dataSource]="dataPolyclinic" style="height:30px"
                            valueExpr="id"
                            displayExpr="name"
                            [(value)]="currentTerminal.PolyclinicId"
                            [searchEnabled]="true"
                        ></dx-select-box>
                    </div>
                </div>
            </div>
            <div class="action">             
                <dx-button style="margin-right:10px" *ngIf="!isUpdate"
                    text="Create"
                    type="normal"
                    (onClick)="updateTerminal()">
                </dx-button>
                <dx-button style="margin-right:10px" *ngIf="isUpdate"
                    text="Update"
                    type="normal"
                    (onClick)="updateTerminal()">
                </dx-button>
                <dx-button style="float:right"
                    text="Cancel"
                    type="normal"
                    (onClick)="cancelUpdateTerminal()">
                </dx-button>
            </div>
        </form>                    
        
        
    
</dx-popup>

  
  
  
  