
 ::ng-deep #gridpreview {
	height: 300px;
  }
  ​
::ng-deep #grid {
    height: 440px;
  }
  
  ::ng-deep .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(233, 218, 218, 0.15);
  }
  
  ::ng-deep .caption {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  
  ::ng-deep .option {
    margin-bottom: 10px;
  }
  
  ::ng-deep .option > span {
    position: relative;
    top: 2px;
    margin-right: 10px;
  }
  
  ::ng-deep .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
  }
  
  ::ng-deep #requests .caption {
    float: left;
    padding-top: 7px;
  }
  
  ::ng-deep #requests > div {
    padding-bottom: 5px;
  }
  
  ::ng-deep #requests > div::after {
    content: "";
    display: table;
    clear: both;
  }
  
  ::ng-deep #requests #clear {
    float: right;
  }
  
  ::ng-deep #requests ul {
    list-style: none;
    max-height: 100px;
    overflow: auto;
    margin: 0;
  }
  
  ::ng-deep #requests ul li {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
  }
  
  ::ng-deep #requests ul li:last-child {
    border-bottom: none;
  }


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}

.app-header {
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.main-wrapper {
	margin-right: 20px;
	height: 100%;
}

.positronx {
	text-decoration: none;
	color: #ffffff;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 40px 40px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 1;
	max-width: 330px;
	margin-right: 250px;
	
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}



.main-wrapper .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}


.main-wrapper .btn-block {
	width: 100%;
}

.main-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.main-wrapper .mat-card {
	padding: 45px 70px 55px;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #FFF7FA;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
  width: 100%;
}
td {
  padding-right: 8px;
}
.example-form-field {
	margin-left:-50px;
 width: 170%;
}
ul {
	opacity: .8;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 253, 253);
  }
  .ul1 {
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e5e5e5;
  }
  .ul2 {
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
  }
  
  li {
	float: left;
  }

  li a {
	display: block;
	color: rgb(223, 209, 209);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  li a.a1 {
	display: block;
	color: rgb(27, 16, 16);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  
  li a:hover {
   cursor: pointer;
}
  li a.current {
	background: #cec9c9;
color:black }






  

  * {
	box-sizing: border-box;
  }
  
  .row {
	margin-left:-5px;
	margin-right:-5px
  }
	
  .column {
margin-top: 10px;
	float: left;
	width: 99%;
	height: auto;
	padding: 5px;
	display: flex;
	flex-direction: column;

	
  }
  
  /* Clearfix (clear floats) */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  table {
	border-collapse: collapse;
	border-spacing: 0;
	
	border: 1px rgb(0, 0, 0);
	
  }
  
  th, td {
	text-align: left;
	
	border: 1px  rgb(0, 0, 0);
  }


.th1{
	text-align: left;
	background-color: #fff;
	
  }
  
  
  
  tr:nth-child(even) {
	background-color: #ffffff;
  }
  :host {
	flex-direction: column;
	align-items: flex-start;
  }
  .a{
	margin-bottom: 10px;
  }
  #gridContainer {
	max-height: 1000px;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
}


/* .search.collapsible{
	opacity:1 ;
	transition: opacity linear 1s, width linear 1s;
}

.search.collapsible.collapsed{
	width:0;
	opacity: 0;
}

.search.collapsible.sub-section{
	padding: 10px;
	border-width: 2px;
	transition: padding linear 1s,border-width linear 1s;
}

.search.collapsible.collapsed .sub-section{
	padding: 10px 0;
	border-width: 2px 0;
} */
.test{
	transition: all linear 0.5s;
	height:300px
}
.ng-hide{
	height:0;
}

div.test:hover{
	opacity: 1;
}
div .icon{
	position: absolute;
  top: 20px;
  right: 30;
  opacity: 0.3;
  transition: transform .5s;
}
div:hover >.icon{
	transform:scale(1.1);
	opacity:0.5
}

div .icon1{
	position: absolute;
  top: 110px;
  right: 1200;
  opacity: 0.5;
}
div .icon2{
	position: absolute;
  top: 110px;
  right: 750;
  opacity: 0.5;
}
div .icon3{
	position: absolute;
  top: 110px;
  right: 150;
  opacity: 0.5;
}

div .iconspecial{
	position: absolute;
  top: 20px;
  right: 650;
  opacity: 0.5;
}

.topButton{
    position: absolute;
    top:7px;
    right:10px;
	height:40px;width:40px;
}


div .parcel1{
	position: absolute;
  top: 100px;
  right: 1350;
}

div .parcel2{
	position: absolute;
  top: 100px;
  right: 900;
}

div .parcel3{
	position: absolute;
  top: 100px;
  right: 300;
}

.icon-display {
	transform: scale(6);
 }

.test{
	background-color: #999b18;
}

#search{
	transition: transform .5s;

}