
<div class="row">
  <nav>
    <ul class="ul1" >
        
      <li style="float:left"><h2>Transaction Info</h2></li>
      </ul></nav> 
    <div class="column">
      
<div id="search" class="collapse" style="transition: all linear 0.5s">
       <filter-component
      
      [dataSearchs]="this.dataSearchs"
      (valueSearchChanges)="filter()"
      
      ></filter-component> </div>
     
      <buttongroup-component
      [hasFilter]="hasFilter"
      (Refresh)="Refresh()"
    ></buttongroup-component>
  <dx-data-grid
            #grid 
            id="grid-container"
            [dataSource]="transactions"
            keyExpr="Id"
            [showBorders]="false"
            [columnAutoWidth]="false"
            style="width:100%"
            [showColumnLines]="true"
            (onRowUpdated)="onRowUpdated($event)"
            (onRowRemoved)="onRowRemoved($event)"
            (onRowInserted)="onRowInserted($event)"
            [hoverStateEnabled]="true"
            (onRowClick)="onRowClick($event)"
            [rowAlternationEnabled]="true"

            >
            <!-- <dxo-filter-row
    [visible]="showFilterRow"
    [applyFilter]="currentFilter"
  ></dxo-filter-row> -->
  <!-- <dxo-filter-panel [visible]="true"></dxo-filter-panel> -->

  <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
            <dxo-scrolling rowRenderingMode ="virtual" ></dxo-scrolling>
          
            <!-- <dxo-paging [pageSize]="200"> </dxo-paging> -->
            <!-- <dxo-pager
              [visible]="true"
              [allowedPageSizes]="allowedPageSizes"
              [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector"
              [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons"
            >
            </dxo-pager> -->
           
          
         
           
           

           
            
            <dxi-column [allowFiltering]="false"  alignment="center" [width]="203.3" dataField ="CreateDate" caption = "Create Date" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss "  >
                     </dxi-column>
            <dxi-column [allowFiltering]="false" alignment="center" [width]="203.3" dataField ="EndDate" caption = "End Date" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            </dxi-column>
            <dxi-column [allowFiltering]="false" alignment="center" [width]="203.3" dataField ="TranDateTime" caption = "Tran.Date Time" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            
            </dxi-column>
           
          <dxi-column alignment="center" [width]="170" dataType="string"  dataField="TranNo" caption = "Transaction Number">
            <!-- <a routerLink="['/transaction/transaction-details']" [queryParams]="{id: transactions.Id}">{{transactions.TranNo}}</a> -->
          </dxi-column>
          <dxi-column alignment="left" [width]="120" dataField ="RequestType" caption = "Request Type">
            
          </dxi-column>
          <dxi-column alignment="center" [width]="170" dataField ="RequestRefNo" caption = "Request Ref Number">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100"  dataField ="CreateBy" caption = "Created by">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100" dataField ="Polyclinic" caption = "Polyclinic">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100" dataField ="EndBy" caption = "End By">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100" dataField ="EndedReason" caption = "End Reason">
            
        </dxi-column>


            
      
            </dx-data-grid>
           
            <paging-component
            [current]="current"
            [total]="total"
            [perPage]="perPage"
            (goTo)="onGoTo($event)"
            (next)="onNext($event)"
            (previous)="onPrevious($event)"
            (switchs)="switch($event)"
          ></paging-component> 

          <dx-popup
          [dragEnabled]="true"
      [width]="'auto'"
      [height]="'auto'"

      [closeOnOutsideClick]="true"
      [showTitle]="true"
      title="Transaction Detail"
      [(visible)]="popupTransaction"
    >
    <div style="text-align: left;
    background-color: #fff;">
    <div class="col-md-12" style="font-size: 15px;">
      <div>GENERAL INFORMATION</div>
    <div class="box-body no-padding" style="border: 1px solid #e6e2e2;" *ngIf="transactionInfo">
      <table class="table">
        <tbody>
          <tr >
            <td style="width:20%">Transaction No.</td>
            <td>{{transactionInfo.TranNo || '-'}}</td>
            <td style="width:20%">Created Time</td>
            <td>{{transactionInfo.CreateDate | date:'medium' || '-'}}</td>
          </tr>
          <tr >
            <td>Polyclinic</td>
            <td>{{transactionInfo.Polyclinic || '-'}}</td>
            <td>Created By</td>
            <td>{{transactionInfo.CreateBy || '-'}}</td>
          </tr>
          <tr >
            <td>Request Ref No.</td>
            <td>{{transactionInfo.RequestRefNo || '-'}}</td>
            <td>Tran. Date Time</td>
            <td>{{transactionInfo.TranDateTime | date:'medium' || '-'}}</td>
          </tr>
          <tr >
          
            <td>Ended By</td>
            <td>{{transactionInfo.EndBy || '-'}}</td>
            <td>Ended Time</td>
            <td>{{transactionInfo.EndDate | date:'medium' || '-'}}</td>
          </tr>
          <tr >
            <td>Transaction Status</td>
            <td>{{getTransactionStatus(transactionInfo.Status)}}</td>
            <td>Ended/Failed Reason</td>
            <td>{{transactionInfo.EndedReason || '-'}}</td>
          </tr>
          
      
        </tbody>
      </table>
    </div> 
  </div>
  <div class="col-md-12" style="margin-top: 50px">
    <div class="box-header with-border" style="font-size: 15px;">
TRANSACTION LOGS    </div>
    <dx-data-grid
    #grid 
    id="grid-container"
    [dataSource]="transLogs"
    keyExpr="TimeLog"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [showColumnLines]="true"
    >
    <dxi-column alignment="left"  dataField ="TimeLog" caption = "TimeLog" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="From" caption = "From">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Action" caption = "Action">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Content" caption = "Content">
            
    </dxi-column>
  
  
  
  
  </dx-data-grid>
  </div>

  <div class="col-md-12" style="margin-top: 50px;">
    <div class="box-header with-border" style="font-size: 15px;">
      ITEMS 
    </div>
    <div >
    <dx-data-grid
    #grid 
    id="grid-container"
    [dataSource]="transDetails"
    keyExpr="BinCode"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [showColumnLines]="true"
    >
    <dxi-column alignment="left"  dataField ="BinCode" caption = "Bin Code">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="ItemCode" caption = "Item Code">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Description" caption = "Description">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Qty" caption = "Quantity">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Status" caption = "Status">
      <dxo-lookup [dataSource]="statusData" displayExpr="name" valueExpr="id"></dxo-lookup>
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Uom" caption = "UOM">
            
    </dxi-column>
  
  
  
  
  
  </dx-data-grid>
    </div>
  </div>
 

  <div class="col-md-12" style="margin-top: 50px;">
    <div class="box-header with-border" style="font-size: 15px;">
      PAYMENT 
    </div>
    <div style="margin-bottom:20px">
    <dx-data-grid
    #grid 
    id="grid-container"
    [dataSource]="payment"
    keyExpr="CreateTime"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [showColumnLines]="true"
    >
    <dxi-column alignment="left"  dataField ="PaymentId" caption = "Payment ID">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Description" caption = "Description">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="CreateTime" caption = "Created Time" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="SuccessTime" caption = "Success Time" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            
    </dxi-column>
    <dxi-column alignment="left"  dataField ="PaymentType" caption = "Payment Type">
      <dxo-lookup [dataSource]="PayType" displayExpr="name" valueExpr="id"></dxo-lookup>
    </dxi-column>
    <dxi-column alignment="left"  dataField ="Status" caption = "Status">
      <dxo-lookup [dataSource]="statuspayment" displayExpr="name" valueExpr="id"></dxo-lookup>
            
    </dxi-column>
  
  
  
  </dx-data-grid>
</div>
  </div>
      
     
  
      
                       
          
          
  </div>
  </dx-popup>
    
          </div>
  
        </div>
  