<div class="row">
    <div class="column">
      <nav aria-label="pagination">
        <ul class="ul1" >
            
          <li style="float:left"><h2>Transaction Info</h2></li>
          </ul></nav> 
        <table>
        <th  class="th1" style="width:6.2%;">
          
        </th>
        <th style="width:10.25%" class="th1">
          
        </th>
        <th style="width:10.25%" class="th1">
          
        </th>
        <th style="width:10.25%" class="th1">
          
        </th>
        <th style="width:10.25%;	border: 1px solid rgb(0, 0, 0);
        " class="th1">              
          
            <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:85%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:13px" placeholder="Transaction Number" (keyup)="filterTransN($event)" 
            matInput ></div>
           
          
        
          
        </th>
        <th style="width:7.3% ;	border: 1px solid rgb(0, 0, 0);
        " class="th1">            <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:70%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:12px" placeholder="Request Type"
            matInput (keyup)="filterRequestT($event)"></div>

          
        </th>
        <th style="width:10.27%;	border: 1px solid rgb(0, 0, 0);
        "class="th1">            <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:85%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:13px" placeholder="Request Ref No"
            matInput (keyup)="filterRequestN($event)" ></div>

          
        </th>
        <th style="width:6.1%;	border: 1px solid rgb(0, 0, 0);
        " class="th1">            <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:70%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:13px" placeholder="Created By"
            matInput (keyup)="filterCreateB($event)"></div>

          
        </th>
        <th style="width:6%;	border: 1px solid rgb(0, 0, 0);
        " class="th1">            <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:70%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:13px" placeholder="Polyclinic"
            matInput (keyup)="filterPolyclinic($event)"></div>

          
        </th>
        <th style="width:6.1%;	border: 1px solid rgb(0, 0, 0);
        "class="th1">             <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:70%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:13px" placeholder="End By"
            matInput (keyup)="filterEndB($event)"></div>

          
        </th>
        <th [width]="100" class="th1">
          <div style="width:100%">
            <span style="width: 10%" matPrefix> <mat-icon matSuffix>search</mat-icon></span>
            <input style ="width:80%;background: rgba(0, 0, 0, 0);border: none;outline: none;font-size:13px" placeholder="End Reason"
            matInput (keyup)="filterEndR($event)"></div>
          
        </th>
      </table>  
     
  <dx-data-grid
            #grid 
            id="grid-container"
            [dataSource]="transactions"
            keyExpr="Id"
            [showBorders]="true"
            [selectedRowKeys] =[]
            [columnAutoWidth]="false"
            style="width:100%"
            [showColumnLines]="true"
            [focusedRowEnabled]="true"
            (onRowUpdated)="onRowUpdated($event)"
            (onRowRemoved)="onRowRemoved($event)"
            (onRowInserted)="onRowInserted($event)"
           
            >
            <!-- <dxo-filter-row
    [visible]="showFilterRow"
    [applyFilter]="currentFilter"
  ></dxo-filter-row> -->
  <!-- <dxo-filter-panel [visible]="true"></dxo-filter-panel> -->

  <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
            <dxo-scrolling rowRenderingMode ="virtual" ></dxo-scrolling>
          
            <!-- <dxo-paging [pageSize]="200"> </dxo-paging> -->
            <!-- <dxo-pager
              [visible]="true"
              [allowedPageSizes]="allowedPageSizes"
              [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector"
              [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons"
            >
            </dxo-pager> -->
           
          
          
          
            <dxo-editing
            [allowUpdating]="true"
            [allowDeleting]="true"
            
            [useIcons]="true">
        </dxo-editing>
            <dxi-column type="buttons" flexPosition="left" [width]="100">
              <dxi-button 
                  name="save"></dxi-button>
              <dxi-button name="edit"></dxi-button>
              <dxi-button name="delete"></dxi-button>
          </dxi-column>

           
            
            <dxi-column [allowFiltering]="false"  alignment="left" [width]="170" dataField ="CreateDate" caption = "Create Date" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss "  >
                     </dxi-column>
            <dxi-column [allowFiltering]="false" alignment="left" [width]="170" dataField ="EndDate" caption = "End Date" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            </dxi-column>
            <dxi-column [allowFiltering]="false" alignment="left" [width]="170" dataField ="TranDateTime" caption = "Tran.Date" dataType = 'datetime' format="yyyy-MM-dd HH:mm:ss ">
            
            </dxi-column>
           
          <dxi-column alignment="center" [width]="170" dataField ="TranNo" caption = "Transaction Number">
            
          </dxi-column>
          <dxi-column alignment="left" [width]="120" dataField ="RequestType" caption = "Request Type">
            
          </dxi-column>
          <dxi-column alignment="center" [width]="170" dataField ="RequestRefNo" caption = "Request Ref Number">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100"  dataField ="CreateBy" caption = "Created by">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100" dataField ="Polyclinic" caption = "Polyclinic">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100" dataField ="EndBy" caption = "End By">
            
        </dxi-column>
        <dxi-column alignment="left" [width]="100" dataField ="EndedReason" caption = "Ended Reason">
            
        </dxi-column>


            
      
            </dx-data-grid>
            <paging-component
            [current]="current"
            [total]="total"
            [perPage]="perPage"
            (goTo)="onGoTo($event)"
            (next)="onNext($event)"
            (previous)="onPrevious($event)"
            (switchs)="switch($event)"
          ></paging-component> 
          </div>
  
        </div>
  